<%= stylesheet_link_tag "users" %>
<br><br>

<% if @users.empty? %>
    <h1> No users found! </h2>
<% else %>
    <div class="user-box">
        <h1> Results </h1>
        <% @users.each do |u| %>
            <% if u.id == current_user.id %>
                
            <% else %>
                <figure class="snip1336">
                    <%= image_tag("underwater-bg.jpeg",size: "320", alt: "sample387")%>
                    <figcaption>
                        <% if !u.avatar.attached? %>
                            <%= image_tag("profile-jelly.png", alt: "profile-sample4", class: "profile") %>
                        <% else %>
                            <%= image_tag(u.avatar, class: "profile", alt: "profile-sample4") %>
                        <% end %>
                        <h2><%= u.username %><span>Engineer</span></h2>
                        <%= link_to "Add", requests_path(id: u.id), :method => :post, class: "follow" if logged_in? && !already_friends?(u.id) %>
                        <%= image_tag("friends.png", size: "50") if already_friends?(u.id)%>
                        <%= link_to "Profile", class: "info" if logged_in? %>
                    </figcaption>
                </figure>
            <% end %>
        <% end %>
    </div>
<% end %>
