<%= stylesheet_link_tag "friends" %>
<br><br>

<% if @users.empty? %>
    <h1> No users found! </h2>
<% else %>
    <div class="user-box">
        <h1> Results </h1>
        <% @users.each do |u| %>
            <% if u.id != current_user.id %>
                <figure class="snip1336">
                    <%= image_tag("underwater-bg.jpeg",size: "320", alt: "sample387")%>
                    <figcaption>
                        <%= show_avatar(u) %>
                        <h2><%= u.username %><span>Fishy Enthusiast</span></h2>
                        <%= link_to "Add", requests_path(id: u.id), :method => :post, class: "follow" if logged_in? && !already_friends?(u.id) && !Request.pending_request?(current_user.id, u.id)%>
                        <%= content_tag(:p, "Pending Request", class: "pending")if Request.pending_request?(current_user.id, u.id) && !already_friends?(u.id) %>
                        <%= image_tag("friends.png", size: "50", class: "friend-icon") if already_friends?(u.id)%>
                    </figcaption>
                </figure>
            <% end %>
        <% end %>
    </div>
<% end %>






















<%# <%= link_to "Profile", class: "info" if logged_in? %>