<%= stylesheet_link_tag "sessions" %>



<div class="login-box">
    <h1>Registration </h1>
    <%= form_for(@user) do |f| %>
        <div class="user-box"> 
                <%= f.label "Email" %>
                <%= f.email_field :email %><br>
        </div>
        <div class="user-box"> 
                <%= f.label "First name" %>
                <%= f.text_field :first_name %><br>
        </div>
        <div class="user-box"> 
                <%= f.label "Last name" %>
                <%= f.text_field :last_name %><br>
        </div>
        <div class="user-box"> 
                <%= f.label "Age" %>
                <%= f.number_field :age %><br>
        </div>
        <div class="user-box"> 
                <%= f.label "Password" %>
                <%= f.password_field :password %><br>
        </div>
          <div class="user-box"> 
                <%= f.label "Avatar" %>
                <%= f.file_field :image %><br>
        </div>

        <%= f.submit "Sign up", class: "submit-button"%>
    <% end %>
</div>