<%= stylesheet_link_tag "sessions" %>

<div class="login-box">
    <h1>Registration </h1>
    <%= form_for(@user) do |f| %>
        <div class="user-box"> 
                <%# TODO email input is not valid without an @  %>
                <%= f.email_field :email, required: "" %>
                <%= f.label "Email" %><br>
        </div>
        <div class="user-box"> 
                <%= f.text_field :username, required: "", autocomplete: 'off' %>
                <%= f.label "User name" %>
        </div>
        <div class="user-box"> 
                <%= f.text_field :first_name, required: "", autocomplete: 'off' %>
                <%= f.label "First name" %>
        </div>
        <div class="user-box"> 
                <%= f.text_field :last_name, required: "", autocomplete: 'off' %><br>
                <%= f.label "Last name" %>
        </div>
        <div class="user-box"> 
                <%= f.password_field :password, required: "" %>
                <%= f.label "Password" %>
        </div>
        <div class="user-box"> 
                <%= f.file_field :avatar %>
                <%= f.label "Avatar" %>
        </div>
        <%= f.submit "Sign up", class: "submit-button"%>
    <% end %>
</div>