<%= stylesheet_link_tag "users" %>

<div class="header">
  <%= display_fish %>
</div>

<div class="aquarium-nav">
  <%= link_to "Most Fish", most_fish_path %>
  <%= link_to "Fish Collection", user_fishes_path(current_user.id) if logged_in?%>
  <%= link_to "Lottery", lottery_index_path if logged_in?%>
</div>

<div class="row">
  <div class="column">
  <div class="user-box">
     <h2><%= current_user.username %> </h2>
     <%= show_avatar(current_user) %>
     <%= link_to "Edit user info", edit_user_path, class: "new-message-button" %>
  </div>
    </div>
  <div class="column">
   <div class="user-box">
    <h2>News</h2>
    <p>
        Welcome to CuttleBuddies Alpha!
    </p>
  </div>
    </div>
  <div class="column">
   <div class="user-box">
       <%= show_friends_mini(@user.friends) %>
   </div>
  </div>
</div>
