<%= stylesheet_link_tag "users" %>

<div class="header">
  <% if @fishes.any? %>
    <% @fishes.each do |f| %>
      <%= image_tag("/assets/tank/#{@fishes.sample.fish.image_path}", class: "tank-image") %>
    <% end %> 
  <% end %>
</div>
<%# TODO Make each image only appear once?  %>

<div class="aquarium-nav">
  <%= link_to "All Users", users_path %>
  <%= link_to "Fish Collection", user_fishes_path(current_user.id) if logged_in?%>
  <%= link_to "Lottery", lottery_index_path if logged_in?%>
</div>

<div class="row">
  <div class="column">
  <div class="user-box">

  </div>
    </div>
  <div class="column">
   <div class="user-box">
    <h2>News</h2>
    <p>
        Welcome to CuttleBuddies Beta!
    </p>
  </div>
    </div>
  <div class="column">
   <div class="user-box">
    <h2>Friends</h2>
    <p>
        <% if @user.friends.empty? %>
          <%= form_with(url: users_path, method: :get) do |f|%>
            <%= f.hidden_field :search, value: "" %>
            <button class="friends-search-button" type="submit">Search for friends!</button>
          <% end %>
        <% else %> 
          <% @user.friends.each do |f| %>
            <div class="mini-friend-card" >
              <div class="inner-mini-friend-card">
                <% if !f.avatar.attached? %>
                  <%= image_tag("profile-jelly.png", alt: "profile-sample4", class: "mini-friend-avatar", size: "100") %>
                <% else %>
                  <%= image_tag(f.avatar, class: "mini-friend-avatar", alt: "profile-sample4", size: "100") %>
                <% end %>
               <p class="mini-friend-card-name"> <%= f.username %></p><br>
              </div>
            </div>
          <% end %>
        <% end %>
    </p>
  </div>
    </div>
</div>
