<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<%if logged_in?  %> 
  <% p = current_user.points + 100  %>
  <%= current_user.update(points: p) %>
  
<% end %>
<ul>
  <li><%= link_to "Log Out", logout_path if logged_in? %></li>
  <li><%= link_to "About", '/about' %></li>
  <li><%= link_to "Profile", user_path(current_user) if logged_in? %>
  <li><%= link_to "Friends", friends_path if logged_in? %>
  <li><%= link_to "Messages", requests_path if logged_in? %>
  <li><%= link_to "Log In", login_path if !logged_in? %></li>
  <li><%= link_to "Register", signup_path if !logged_in? %></li>
  <li><%= link_to "Home", root_path %></li>
  <li><%= link_to "Fish Collection", user_fishes_path(current_user.id) if logged_in?%></li>
  <li><%= link_to "Lottery", lottery_index_path if logged_in?%></li>
  <li class="points">
  <% if logged_in? %><p>Points: <%= current_user.points %><%= current_user.username %></p><% end %> </li>

  <li class="list-search">
    <div class="search-container">  
      <%= form_with(url: users_path, method: :get) do |f|%>
        <%= f.text_field :search, placeholder: "Search users!" %>
        <button type="submit" class="search-button"><i class="fa fa-search"></i></button>
      <% end %>
    </div>
  </li>
</ul>
<br>
<br>


