<%= stylesheet_link_tag "lottery" %>
<%# TODO Add fish eggs image  %>
<%# <%= image_tag ("/assets/tank/#{Fish.order(Arel.sql('RANDOM()')).first.image_path}") %> 


<div class= "element-box"> 
    <%= form_with(url: lottery_index_path, method: :post) do |f| %>
        <%= f.label "Spend 25 sea dollars to get new fish!" %><br><br><br>
        <%= f.submit 'Roll !',class: "roll-button", data: { confirm: 'Roll lottery?' } %>
    <% end %>

</div>
