<%= stylesheet_link_tag "fish" %>


<div class="user-box" id="fishname-form"> 
    <%= form_with model: @user_fish do |f| %>
        <%= f.label "Name: " %>
        <%= f.text_field :name, placeholder: @user_fish.custom_name %>
        <%= f.submit "Save", class: "submit-button" %>
    <% end %>
</div>
