<%= stylesheet_link_tag "fish" %>


<% if @fish.empty? %>
    <h1> No fish found! Go roll for some!</h2>
<% else %>
    <div class="user-box">
    <h1> My fish </h1><br><br>
        <% @fish.each do |f| %>
                <figure class="snip1336">
                    <%= image_tag("underwater-bg.jpeg",size: "320")%>
                    <figcaption>
                        <%= image_tag("/assets/tank/#{f.image_path}",alt: "profile-sample4", class: "profile") %>
                        <h2><%= f.name %><span><br><%= button_to "X", "/users/#{current_user.id}/fishes/#{f.id}",class: "x-button", :method => :delete, data:
{confirm: "Are you sure you want to delete this fish?" }  %></span></h2>
                        <p><%= f.desc %> </p>
                    </figcaption>
                </figure>
            <% end %>
    </div>
<% end %>